@model FlagViewModel
@{ 
    ViewData["Title"] = "Team Details";
}
<h2>Olympic Details</h2>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <ul class="list-group text-center">
            <li class="list-group-item">
                <img src="~/lib/flag.png" alt=""/>
                <h3>@Model.Flags</h3>
            </li>
            <li class="list-group-item">
                <h4>Category: @Model.Flags</h4>
            </li>
            <li class="list-group-item">
                <a asp-action="Index"
                   asp-route-olympic="@Model.ActiveOly"
                   asp-route-category="@Model.ActiveCat">
                    Return to Olympic Home Page
                </a>
            </li>
        </ul>
    </div>
</div>