@model MVC_Xiong.Models.Student

@{
    ViewData["Title"] = "Two";
}

    <h2>You do not have sufficient access level to view this data</h2>




<div>
    <a asp-action="Index">Back to Student Home</a>
</div>