@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Luke Xiong</h1>
    <p>Welcome Professor! This Page is for all my class assignments in CIS 174. Please use Menu to find an assignment.</p>
</div>
